<!DOCTYPE html>
<html>

<head>
    <title>Hoja de Vida</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Intereses</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
    </nav>
    <div id="left">
        <img src="../img/profile.jpg" class="profile-pic-hv" alt="Foto de la persona" width="100%">
        <h2><i class="fa fa-address-book" aria-hidden="true"></i> Contacto</h2>
        <hr>
        <p>Santiago de Cali, Colombia.</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i> <b>Celular: </b> <a href="tel:+573207364675">3207364675</a></p>
        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> <b>E-mail: </b> <a href="mailto:cristian.velasquez@correounivalle.edu.co">cristian.velasquez@correounivalle.edu.co</a></p>
    </div>

    <div id="right">
        <h1 class="section-name">Cristian Danilo Velasquez Olaya</h1>

        <div class="section slide-in" style="animation-delay: 0s;">
            <h2><i class="fas fa-user"></i> Perfil Profesional</h2>
            <hr>
            <p>Poseo conocimientos en java, html, css, bootstrap, php, javascript y en el
                framework Laravel basado en php, también cuento con conocimientos en
                gestión y administración de la información para el análisis, diseño y
                desarrollo de soluciones tecnológicas, conocimientos en bases de datos
                relacionales MySQL, postgreSQL y SQL.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 0.5s;">
            <h2><i class="fas fa-graduation-cap"></i> Formación Académica</h2>
            <hr>
            <p>Instituto Comercial, Industrial y Tecnológico
                “I.C.I.T”, Cali – Colombia 2013.</p>
            <p>Universidad del valle, Tecnologia en sistemas de informacion, cursando.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 1s;">
            <h2><i class="fas fa-language"></i> Idiomas</h2>
            <hr>
            <p>Ingles B1.</p>
        </div>

        <div class="section slide-in" style="animation-delay: 1.5s;">
            <h2><i class="fas fa-briefcase"></i> Experiencia Laboral</h2>
            <hr>
            <p><b>Desarrollador de software</b>, LifeFile.</p>
            <p>Cali - Colombia.</p>
            <p>
                Encargado de migrar modulos que se me han asignado o desarrollar nuevos modulos para la empresa
                trabajando con Laravel, php, mySql y Vue.
            </p>
            <p>Tiempo: 1 año y 6 meses</p>
            <br>
        </div>
    </div>

</body>

</html>