<!DOCTYPE html>
<html>

<head>
    <title>Cristian Danilo Velasquez Olaya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="body-index">
    <div class="background-img"></div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Sobre mi</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
    </nav>
    <div class="profile-section">
        <div class="profile-text">
            <img src="../img/profile.jpg" class="profile-pic" alt="Cristian Danilo Velasquez Olaya">
            <h1>Cristian Danilo Velasquez Olaya</h1>
            <p>Soy originario de Cali, Colombia, y nací el 20 de febrero de 1996.</p>
            <p>Actualmente, estoy cursando el último semestre de tecnología en sistemas de información en la Universidad del Valle.</p>
            <p>Me caracterizo por ser una persona cumplidora de mis deberes,
                perseverante, carismático y me adapto fácilmente a cualquier ambiente de
                trabajo. Estoy comprometido con las tareas y funciones que se me asignen,
                aprendo rápido, soy honesto y disciplinado.
                </p>
            <p>Soy una persona positiva, entusiasta y perseverante. Me encanta el deporte, la música y leer sobre temas
                variados que me permitan ampliar mi conocimiento.</p>
            <p>Para contactarme, puedes escribirme a mi correo electrónico: </p><a href="mailto:cristian.velasquez@correounivalle.edu.co" class="email-link">cristian.velasquez@correounivalle.edu.co</a>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>