<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Sobre mi</title>
</head>

<body class="body-intereses">
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="index.html">
            <span class="nav-text">Presentación</span>
            <i class="fas fa-user-circle nav-icon"></i>
        </a>
        <a class="nav-link" href="hoja-de-vida.html">
            <span class="nav-text">Hoja de Vida</span>
            <i class="fa fa-file nav-icon"></i>
        </a>
        <a class="nav-link" href="intereses.html">
            <span class="nav-text">Sobre mi</span>
            <i class="fas fa-heart nav-icon"></i>
        </a>
    </nav>

    <div class="container mt-5" style="max-width: 40%;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Gustos</h5>
                        <p class="texto-izquierda">Mi pasión por los números y la logica me llevaron a estudiar tecnologia en sistemas, que me llevó a la
                        Universidad del Valle para seguir explorando y aprendiendo.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XfamAqjFqJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Pasatiempos</h5>
                        <p class="texto-izquierda">En mis tiempos libres, me encanta sumergirme en el mundo del deporte, ya sea jugando fútbol con mis amigos o viendo un
                        partido de futbol en la televisión. La música también juega un papel crucial en mi vida; me ayuda a relajarme, a
                        mantenerme concentrado y a veces incluso a inspirarme.</p>
                        <p class="texto-izquierda">A continuación te comparto un video sobre una nueva tecnología de inteligencia artificial.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="video-iframe" src="https://www.youtube.com/embed/6FC6KfRIfVw" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Habilidades</h5>
                        <p class="texto-izquierda">En cuanto a mis habilidades, me gusta aprender cosas nuevas cada día, estar al tanto de nuevas herramientas
                            que puedan ayudarme para el desarrollo de software y ser autodidacta. Sin embargo, reconozco que uno de mis desafíos es mi tendencia a ser perfeccionista, lo que a veces puede
                            llevarme a pasar demasiado tiempo en tareas particulares.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/__EWrXgRIaY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Debilidades</h5>
                        <p class="texto-izquierda">En términos de dificultades, a veces luchar contra la procrastinación puede ser un desafío. Sin embargo, he aprendido a
                        manejarlo estableciendo metas claras y organizando mi tiempo de manera eficiente.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/14Du3TotxEg?start=10" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Sueños</h5>
                        <p class="texto-izquierda">Mi sueño es contribuir significativamente al campo del desarrollo de software. Aspiro a trabajar
                        en proyectos que no solo sean profesionalmente gratificantes, sino que también tengan un impacto positivo en la
                        sociedad.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i07qz_6Mk7g?start=10" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block slow-transition" id="video-text">
                        <h5>Metas</h5>
                        <p class="texto-izquierda">A largo plazo, mi meta es liderar mi propia empresa, donde pueda innovar y aportar al crecimiento de mi querida
                        Colombia.</p>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/441QxyLr-Z4?start=69" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $('.carousel').carousel({
                interval: 20000
            });
    </script>
</body>

</html>